@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

:root {
  --dark: #223843;
  --light: #ededed;
  --lighter: #fafafa;
  --white: #fff;
  --red: rgba(204, 4, 60, 0.7);
  --blue: #096380;
}

body {
  margin: 10px 30px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: var(--dark);
}

canvas {
  display: block;
  margin: 0 auto;
}

button {
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.selected-button {
  background-color: var(--red);
  color: var(--white);
}

.not-selected-button {
  color: var(--dark);
}

.ChannelButtons {
  margin: 10px 0;
}

.ChannelButtons button {
  margin: 5px;
}

.p5container {
  max-width: 850px;
  max-height: 90vh;
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}

textarea {
  font-family: "Ubuntu Mono", monospace;
  background-color: var(--lighter);
  color: var(--dark);
  box-sizing: border-box;
  border-width: 0 0 2px 2px;
  border-color: var(--light);
  border-style: solid;
  padding: 10px;
}

textarea:focus {
  outline: none;
}
.Treo .right:focus {
  border-color: var(--blue);
}
.Treo .wrong {
  border-color: var(--red);
}

.Treo header {
  margin: 0 auto;
  display: grid;
}

.Treo header,
.Treo textarea {
  width: 100%;
}

/* download button */

#download-button {
  justify-self: end;
  margin-bottom: 10px;
  background-color: transparent;
  color: var(--dark);
}
#download-button:hover {
  background-color: var(--light);
  color: var(--dark);
}

#download-button span {
  display: inline-block;
  margin-right: 5px;
}

#download-button img { /* download icon */
  height: 12px;
  display: inline-block;
}

/* end download button */

/* options section */
.options {
  width: 100%;
  margin: 50px auto;
  text-align: left;
}

.options-container {
  display: block;
}

.options button {
  display: block;
  margin-bottom: 10px;
  color: var(--dark);
  background-color: var(--light);
}

.options button:hover {
  background-color: var(--dark);
  color: var(--white);
}

.options .error-msg {
  width: 50%;
  font-weight: bold;
  text-align: center;
  color: var(--red);
}

.options .result-container {
  margin: 0 auto;
}

.options .result-container .result-header {
  display: grid;
}

.options .result-container .result-header h4 {
  margin: 0;
  text-align: center;
}

.options .result-container .result-header button {
  justify-self: end;
}

.options .result-container textarea {
  margin: 0;
  width: 100%;
}

.loading {
  margin: 0 auto;
  border: 10px solid transparent;
  border-radius: 50%;
  border-top: 10px solid var(--red);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* end options section */

/* tablet media query */
@media (min-width: 650px) {
  .Treo header,
  .Treo textarea {
    width: 40%;
  }
}

/* small desktop media query */
@media (min-width: 1100px) {
  .options {
    width: 90%;
  }
  .options-container {
    display: flex;
  }
}

/* desktop media query */
@media (min-width: 1262px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 60px auto;
  }

  .ChannelButtons {
    grid-column: 1;
    grid-row: 2;
  }

  .p5container {
    grid-column: 1;
    grid-row: 3;
  }

  .Treo {
    grid-column: 2;
    grid-row: 2;
  }

  .Treo header,
  .Treo textarea {
    width: 90%;
  }

}
