@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  margin: 10px 30px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: #223843;
}

canvas {
  display: block;
  margin: 0 auto;
}

.ChannelButtons {
  margin: 10px 0;
}

.ChannelButtons button {
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  border: none;
  padding: 10px;
  transition: 0.3s;
}

.ChannelButtons button:hover {
  background-color: rgba(204, 4, 60, 0.7);
  color: #fff;
  transition: 0.3s;
}

.selected-button {
  background-color: rgba(204, 4, 60, 0.7);
  color: #fff;
}

.not-selected-button {
  color: #223843;
}

@media (min-width: 1080px) {
  .grid-container {
    display: grid;
    grid-template-columns: 800px auto;
  }
}
