@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  --dark: #223843;
  --light: #ededed;
  --lighter: #fafafa;
  --white: #fff;
  --red: rgba(204, 4, 60, 0.7);
  --blue: #096380;
}

body {
  margin: 10px 30px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: var(--dark);
}

canvas {
  display: block;
  margin: 0 auto;
}

.ChannelButtons {
  margin: 10px 0;
}

button {
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  border: none;
  padding: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.selected-button {
  background-color: var(--red);
  color: var(--white);
}

.not-selected-button {
  color: var(--dark);
}

textarea {
  font-family: "Ubuntu Mono", monospace;
  background-color: var(--lighter);
  color: var(--dark);
  border-width: 0 0 2px 2px;
  border-color: var(--light);
  border-style: solid;
  padding: 10px;
}

textarea:focus {
  outline: none;
}
.Treo .right:focus {
  border-color: var(--blue);
}
.Treo .wrong {
  border-color: var(--red);
}

/* options section */
.options {
  width: 90%;
  margin: 50px auto;
  text-align: left;
}

.options-container {
  display: flex;
}

.options button {
  display: block;
  margin-bottom: 10px;
  color: var(--dark);
  background-color: var(--light);
}

.options button:hover {
  background-color: var(--dark);
  color: var(--white);
}

.options .result-container {
  margin: 0 auto;
}

.options textarea {
  margin: 0;
  width: 100%;
}
/* end options section */

@media (min-width: 1080px) {
  .grid-container {
    display: grid;
    grid-template-columns: 800px auto;
    grid-template-rows: 50px 60px auto;
  }

  .ChannelButtons {
    grid-column: 1;
    grid-row: 2;
  }

  .p5container {
    grid-column: 1;
    grid-row: 3;
  }

  .treo-title {
    grid-column: 2;
    grid-row: 2;
  }

  .Treo {
    grid-column: 2;
    grid-row: 3;
  }
}
